# dependencies
node_modules/

# project build
dist/

# mac files
.DS_Store

# environment variables
.envrc

# netlify-cli config
.netlify/state.json

# logs and errors
yarn-error.log

# Local Netlify folder
.netlify