@import "../../../../node_modules/highlight.js/styles/github.css";

pre {
  @apply mb-4;

  code,
  .hljs {
    @apply bg-gray-light
      p-4
      rounded-md
      text-sm
      whitespace-pre-wrap;
  }

  code:not(.hljs) {
    @apply block
      text-black
      whitespace-pre-wrap;
  }
}

code {
  @apply bg-gray-light
    inline-block
    p-1
    rounded-md
    text-xs;
}

/* --- Syntax Highlighting Accessibility Overrides --- */

.hljs-built_in,
.hljs-builtin-name {
  color: #00506b;
}

.hljs-string,
.hljs-doctag {
  color: #a20b31;
}

.hljs-comment,
.hljs-quote {
  color: #505049;
}
