---
layout: default
title: Twenty Ninety
seo:
  image: /assets/images/meta/twenty-ninety--meta--home.png
  description: A component-based Eleventy starter kit.
---

<h1 class="font-headings text-2xl">Twenty Ninety</h1>
<p>I am the home page ...</p>

<div class="container max-w-xs">
  <p>This is a component ...</p>
  {% component "button", url = "/", label = "Click Me!", theme = "blue" %}
</div>

<div class="container max-w-xs">
  <p>So is this. It's cool ...</p>
  {% component "image", path = "seancdavis-2020-bg-transparent.png", sm = "224px", md = "320px", max = "320px" %}
</div>

<div class="container max-w-xs">
  {% svg "seancdavis-logo" %}
</div>

<div class="container max-w-md">
  {% markdown %}

## Hello There

This is markdown, being rendered inside an HTML element. Pretty cool, eh?

  {% endmarkdown %}
</div>
